<div ng-contoller="" class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="margin: 100px 450px">
    <h4>Hello!</h4>
    <h4>Please enter your name to join and share your ideas</h4>
    <form class="form-inline">
      <input type="text" id="login_name" placeholder="Name" class="form-control" style="display: block" ng-model="login_user.name" />
      <a href="#/dashboard"><button style="display: block; float: right" class="form-control" id="Get_User_Name" ng-click="loginUser()">Enter</button></a>
    </form>
  </div>